/* Universal selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/* Element selectors */
body {
    background-color: #0f1d2b;
}

/* Links */
a {
    color: #1db475;
    background-color: inherit;
    text-decoration: none;
}

a:hover {
	background-color: inherit;
	text-decoration: underline;
}

/* Headers */
h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: 200;
    letter-spacing: 5px;
    color:#ffffff;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

h3 {
    margin-bottom: 10px;
    font-size: 18.5px;
    color: white;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 16px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

/* Images */

/* Class selectors */
.header {
    padding: 10px 0px 10px 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #091520;
    color: #ffffff;
}

.header h1 .simon {
    color: #1db475;
}

.header nav {
    padding-top: 15px;
    margin-right: 400px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    font-weight: 400;

}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

 .hero {
    height: 500px;
    width: 500px;
    float: left;
    margin: 25px 25px 25px 250px;
    background-image: url("../img/headshot.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 4px 4px #1db475;
}

.header-box {
	padding: 50px 50px 75px 100px;
    margin: 100px 350px 20px 0px;
    border-radius: 10px;
    vertical-align: top;
    float: right;
    width: 40%;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#091520;
    letter-spacing: 1px;
    line-height: 2.8rem;
    box-shadow: 4px 4px #1db475;
}

.header-box .arrow {
    color: #1db475;
}

.header-box .arrow2 {
    color: #1db475;
}

.content {
    width: 60%;
    display: inline-block;
    margin-left: 20px;
}

.content-summary, .content-projects, .content-contact {
    height: 300px;
	padding: 30px;
    margin: 20px 0px 40px 250px;
    border-radius: 10px;
    background-color: #091520;
    box-shadow: 4px 4px #1db475;
}

.content-summary p {
    padding: 0px 20px 20px 20px;
    font-weight: 400; 
}

.content-projects p {
    padding: 0px 20px 20px 20px;
    font-weight: 400;
}

.devicon-linkedin-plain, .devicon-github-original-wordmark {
    font-size: 58px;
    color: white;
    margin-right: 20px;
}

.aside {
	padding: 40px;
    margin: 20px 300px 20px 0px;
    border-radius: 10px;
    clear: both;
    float: right;
    width: 20%;
    height: 1000pxS;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#091520;
    letter-spacing: 1px;
    box-shadow: 4px 4px #1db475;
}

.aside-info {
    margin-bottom: 32px;
    color: white;
}

.aside-info img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} 

.footer {
    padding: 25px 250px 25px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    color: white;
    background-color: #091520;
}

/* Id selectors */
/* #id {

}*/